<section class="messages">
  <table>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th>Body</th>
    </tr>
  <% @messages.each do |message| %>
    <tr>
      <td>
        <%= easternify(DateTime.parse(message.date_sent), :short) %>
      </td>
      <td>
        <%= message.from.phony_formatted(spaces: '-') %>
      </td>
      <td>
        <%= message.to.phony_formatted(spaces: '-') %>
      </td>
      <td>
        <%= message.status %>
      </td>
      <td>
        <%= message.body %>
      </td>
    </tr>
  <% end %>
  </table>
</section>
