<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Switchboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="main">
    <ul>
      <li><%= link_to "Home", root_path, class: "home" %></li>
      <li><a href="#">Entries</a></li>
      <li><%= nav_link_to "Members", members_path %></li>
      <li><%= nav_link_to "Messages", messages_path %></li>
      <li><%= nav_link_to "WeMo", wemo_path %></li>
    </ul>
  </nav>
<%= yield %>
</body>
</html>
